.project {
text-align: center;
}
#profile {
    width: 200px;
    height: 200px;
    border-radius: 50;
} 

.links {
    text-align: center;
}
p {

}
body {
}

@media screen and { 
    
}
.links {
    
}